<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="X509CertificateThumb" value="5A0DD856746F046ED766DFDC36045DC2CBD5BC84" />

		<add key="Artemis_UserLogin" value="jDh2QzHXaZLmgdL70UwxB5Miw93w4v2raKzKD/YMEkWyBYnQozqLy+uv7R2KkQCflXxwyufXYIG70qxr6Ele76tqRv6SBEa9C6bEnjojCZj+AZKEQzv4QLSuvdEyg/TO3VuZvv4hKxg8Yo6l5IhfyWjJIVLoDMJ+abUIHfrrMn8Nw/kPvsFGb9JzdH5L/JgtQwVKRF3kpsLRjN5a6gWFUkpKE6cG58O90Ny3yjOauAd1+8V91iURLMV6qCTuLYuvHofmTJpXU08N6tLSAEylZtqkOeeAiP+mWVFESUp0WNWOr2AeYRDJICnSOe95YLMj2zQRZzkGKO75aX9IUJuP3w==" />
		<add key="Artemis_UserPassword" value="BncDkkLf+QyodKfx7SPxpqOfLKrOJwSkSX5zU8y9UUdbVqGxRvV21iLkHa3wLbRjIWku2qPw8g8tjJeYt6W1Es3flel6X0CwhsnveaN+gDNVBycwrAI/nTzBoMWboxshFmMCzkKZNxJKwfQtWD4NRxQXUIC6JffeZu0QeRwaql0Hrk7oQMsv/xFfmavZ4AaDMl4P9QZzS3Q0s3hhGo5+W3E+ksFa7AWp2bXBazmjHmSV6O3vt1b+izxb9llYm8DWECycMRDbp8NqAtYKXyAq3+Do7amhqiF0b34pGR4Hx1eFuljZE1+h0eo4+VPWETBe74e4iBrNhJUPeCU6/9/ijQ==" />

		<add key="SolidDb_UserLogin" value="jDh2QzHXaZLmgdL70UwxB5Miw93w4v2raKzKD/YMEkWyBYnQozqLy+uv7R2KkQCflXxwyufXYIG70qxr6Ele76tqRv6SBEa9C6bEnjojCZj+AZKEQzv4QLSuvdEyg/TO3VuZvv4hKxg8Yo6l5IhfyWjJIVLoDMJ+abUIHfrrMn8Nw/kPvsFGb9JzdH5L/JgtQwVKRF3kpsLRjN5a6gWFUkpKE6cG58O90Ny3yjOauAd1+8V91iURLMV6qCTuLYuvHofmTJpXU08N6tLSAEylZtqkOeeAiP+mWVFESUp0WNWOr2AeYRDJICnSOe95YLMj2zQRZzkGKO75aX9IUJuP3w==" />
		<add key="SolidDb_UserPassword" value="BncDkkLf+QyodKfx7SPxpqOfLKrOJwSkSX5zU8y9UUdbVqGxRvV21iLkHa3wLbRjIWku2qPw8g8tjJeYt6W1Es3flel6X0CwhsnveaN+gDNVBycwrAI/nTzBoMWboxshFmMCzkKZNxJKwfQtWD4NRxQXUIC6JffeZu0QeRwaql0Hrk7oQMsv/xFfmavZ4AaDMl4P9QZzS3Q0s3hhGo5+W3E+ksFa7AWp2bXBazmjHmSV6O3vt1b+izxb9llYm8DWECycMRDbp8NqAtYKXyAq3+Do7amhqiF0b34pGR4Hx1eFuljZE1+h0eo4+VPWETBe74e4iBrNhJUPeCU6/9/ijQ==" />

	</appSettings>

</configuration>